.AboutUs h1{
    font-family: 'Charm', cursive;
}

.AboutUs .team-section{
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.AboutUs .team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size:  40px ;
} 
.AboutUs .border{
    display: block;
    margin: auto;
    width: 250px;
    height: 2px;
    background: #3498db;
    margin-bottom: 40px;

}
.AboutUs .ps{
    margin-bottom: 40px;

}
.AboutUs .ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;

}
.AboutUs .ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}
.AboutUs .ps a:hover > img{
    filter: none;
}
.AboutUs .section{
    width:  600px;
    font-size: 20px;
    margin: auto;
    color: rgb(10, 9, 9);
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.AboutUs .section .name{
    padding-top: 2rem;
}
.AboutUs .section:target{
    height: auto;
}
.AboutUs .name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}