@import 'config.css';

.AccountPage{
    display: flex;
    justify-content: center;
}

.AccountPage .AccountNav{
    width: 15rem;
    background-color: #684592;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(235, 235, 235);
    transform: translateX(-100%);
}

.AccountPage .AccountNav li{
    padding: 1rem;
    border: 1px solid #9164c7;
    cursor: pointer;
}

.AccountPage .AccountNav li:hover{
    background-color: #8458b9;
}

.AccountPage .AccountNav .fa-bars{
    font-size: 2rem;
    color: #20172c;
    position: absolute;
    left: 100%;
    cursor: pointer;
    /* background-color: white; */
    border: 3px solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.4rem 0.6rem;
}

.AccountPage .AccountNav .fa-times{
    font-size: 2.5rem;
    position: absolute;
    z-index: 2;
    left: 0.6rem;
    display: none;
    font-size: 2rem;
    color: #20172c;
    position: absolute;
    left: 100%;
    cursor: pointer;
    background-color: white;
    border: 3px solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.4rem 0.7rem;
}

.AccountPage .AccountNav:focus-within{
    transform: translateX(0);
}

.AccountPage .AccountNav:focus-within .icon{
    pointer-events: none;
}

.AccountPage .AccountNav:focus-within .fa-bars{
    display: none;
}

.AccountPage .AccountNav:focus-within .fa-times{
    display: unset;
}

.AccountPage  .content{
    margin-left: 3rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 1140px){
    .AccountPage  .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px){
    .AccountPage .AccountNav{

    }
}

