.modal {
  background-color: white;
  width: 90vw;
  height: 90vh;
  position: relative;
}

.modal .fa-times-square {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  font-size: 3rem;
  background-color: white;
  cursor: pointer;
  color: #a0a0a0;
  width: 2.7rem;
  height: 2.7rem;
}

.modal .fa-times-square:hover{
    color: #b881fc;
}
.DetailRentalUnit .main{
    width: 90vw;
    max-width: 70rem;
    margin: auto;
    color: #333333;
}
.DetailRentalUnit .title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.DetailRentalUnit .heartIcon{
  float: right;
}