@import 'config.css';

.modal {
  background-color: var(--modal-bgcolor);
  width: var(--modal-width);
  height: var(--modal-height);
  position: relative;
}

.modal .fa-times {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  font-size: 3rem;
  background-color: #dbdbdb;
  cursor: pointer;
  color: #a0a0a0;
  color: rgb(155, 155, 155);
  padding: 0 0.5rem;
  transition: 0.3s;
}

.modal .fa-times:hover {
  color: white;
  background-color: rgba(236, 4, 4, 0.623);
  transition: 0.3s;
}
.DetailRentalUnit .main {
  width: var(--detail-rental-width);
  max-width: var(--detail-rental-max-width);
  margin: auto;
  color: #333333;
}
.DetailRentalUnit .title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.DetailRentalUnit .heartIcon {
  float: right;
}

.DetailRentalUnit .date-report {
  color: #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(209, 209, 209);
  margin-top: 1rem;
  padding: 1rem 0rem;
}

.DetailRentalUnit .dateContainer {
  display: flex;
}

.DetailRentalUnit .dateContainer .date {
  padding-right: 3rem;
}

.DetailRentalUnit .dateContainer span {
  color: #666c75;
  font-weight: 500;
}
.DetailRentalUnit .report {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.DetailRentalUnit .report:hover {
  color: rgb(204, 167, 4);
}
.DetailRentalUnit .report .fa-exclamation-triangle {
  display: block;
  font-size: 2.2rem;
  float: right;
}

.DetailRentalUnit .description h3 {
  padding-bottom: 0.5rem;
}

.DetailRentalUnit .description .generalInfo,
.DetailRentalUnit .description .roomAddress,
.DetailRentalUnit .description .roomFeature {
  padding: 2rem 0rem;
  border-top: 1px solid rgb(209, 209, 209);
}

.DetailRentalUnit .description .pad {
  padding: 1rem 0rem;
}
.DetailRentalUnit .description i {
  margin-right: 1rem;
  color: var(--main-color);
  font-size: 1.2rem;
}

.DetailRentalUnit .description .generalInfo span,
.DetailRentalUnit .description .roomAddress span,
.DetailRentalUnit .description .roomFeature span {
  font-weight: 600;
  color: #606770;
  display: inline-block;
  width: 8rem;
}

.DetailRentalUnit .roomFeature .divTop {
  display: flex;
}

.DetailRentalUnit .roomFeature .divTop .col{
  flex: 1;
}

@media (max-width: 500px){
  .DetailRentalUnit .roomFeature .divTop{
    display: block;
  }
}