.modal {
  background-color: white;
  width: 90vw;
  height: 90vh;
  position: relative;
}

.modal .fa-times-square {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  font-size: 3rem;
  background-color: white;
  cursor: pointer;
  color: #a0a0a0;
  width: 2.7rem;
  height: 2.7rem;
}

.modal .fa-times-square:hover {
  color: #b881fc;
}
.DetailRentalUnit .main {
  width: 90vw;
  max-width: 70rem;
  margin: auto;
  color: #333333;
}
.DetailRentalUnit .title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.DetailRentalUnit .heartIcon {
  float: right;
}

.DetailRentalUnit .date-report {
  color: #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.1rem solid rgb(209, 209, 209);
  border-bottom: 0.1rem solid rgb(209, 209, 209);
  margin-top: 1rem;
  padding: 1rem 0rem;
}

.DetailRentalUnit .dateContainer {
  display: flex;
}

.DetailRentalUnit .dateContainer .date{
  padding-right: 3rem;
}

.DetailRentalUnit .dateContainer span {
  color: #666c75;
}
.DetailRentalUnit .report{
  display: flex;
  align-items: center;
}
.DetailRentalUnit .report .fa-exclamation-triangle {
  display: block;
  font-size: 2.2rem;
  float: right;
}

.DetailRentalUnit .description h3 {
  margin-top: 1rem;
}
