.Home .homeImage {
    background: linear-gradient(0deg, #00000082, #00000082),
      url('../img/couch-scaled_optimized.jpg');
    height: 45rem;
    max-height: 100vh;
    background-size: cover;
  }