@import 'config.css';

.ImageSliderCarousel {
  width: var(--modal-width);
  height: var(--modal-height);
  max-width: var(--image-slider-max-width);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImageSliderCarousel .image {
  display: block;
  padding: 2rem 0rem;
  border-radius: 0.5rem;
  max-height: var(--image-inner-carousel-max-height);
  max-width: var(--image-inner-carousel-max-width);
  overflow: hidden;
  object-fit: cover;
}

.ImageSliderCarousel .leftArrow {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--modal-height);
  font-size: 3rem;
  cursor: pointer;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #c4c4c4;
}

.ImageSliderCarousel .rightArrow {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: var(--modal-height);
  font-size: 3rem;
  cursor: pointer;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #c4c4c4;
}

.ImageSliderCarousel .rightArrow:hover,
.ImageSliderCarousel .leftArrow:hover {
  background-color: #d7b6ff46;
  transition: 0.4s;
  color: #464646;
}

.ImageSliderCarousel .slide img {
  opacity: 0;
  transition: 0.7s;
}

.ImageSliderCarousel .slide.active img {
  opacity: 1;
}
