@import 'config.css';

.Like {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: var(--main-color);
  padding: 0.4rem;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.Like:hover {
  background-color: #b881fc63;
  transition: 0.3s;
}
