.ListRentalUnit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.ListRentalUnit .container{
    width: 78rem;
    display: block;
    flex-wrap: wrap;
}

@media (max-width: 1265px){
    .ListRentalUnit .container{
        width: 52rem;
    }
 }

 @media (max-width: 692px){
    .ListRentalUnit .container{
        width: 34rem;
    }
 }

 @media (max-width: 440px){
    .ListRentalUnit .container{
        width: 22rem;
    }
 }