.LoginOrRegister {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.LoginOrRegister .decorator {
  width: 50vw;
  margin-right: 3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.LoginOrRegister .image {
  position: relative;
  overflow: hidden;
  margin-left: 3rem;
}

.LoginOrRegister .image::before {
  position: absolute;
  content: '';
  background-color: rgba(89, 53, 104, 0.527);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.LoginOrRegister .image .logo {
  position: absolute;
  top: 5rem;
  left: 40%;
}

.LoginOrRegister img {
  width: 130%;
  max-width: 30rem;
  object-fit: cover;
  flex: 1;
}

.LoginOrRegister .decorator::before {
  content: '';
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #b881fc;
}

.LoginOrRegister .OwnerRegister,
.LoginOrRegister .RenterRegister,
.LoginOrRegister .Login {
  flex: 1;
}
.LoginOrRegister .row {
  width: 50vw;
  margin-bottom: 2rem;
}

.LoginOrRegister label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.LoginOrRegister input {
  width: 90%;
  max-width: 35rem;
  height: 1.5rem;
  outline: none;
  font-size: 1.1rem;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  font-family: 'Roboto Condensed', sans-serif;
}

.LoginOrRegister button {
  width: 10rem;
  height: 3rem;
  background-color: #b881fc;
  border: none;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.LoginOrRegister button:hover {
  background-color: #a772e7;
}

.LoginOrRegister span {
  margin-left: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
}

.LoginOrRegister span a {
  text-decoration: underline;
  color: #6c29be;
}

@media (max-width: 700px) {
  .LoginOrRegister {
    display: block;
  }
  .LoginOrRegister .decorator {
    display: none;
  }
  .LoginOrRegister .OwnerRegister,
  .LoginOrRegister .RenterRegister,
  .LoginOrRegister .Login
  {
    /* justify-content: center; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    flex: 1;
  }

  .LoginOrRegister input,
  .LoginOrRegister .row {
    width: 80vw;
    max-width: unset;
  }
}

@media (max-width: 880px){
    .LoginOrRegister .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .LoginOrRegister span{
        margin: 0;
        margin-top: 1.5rem;
    }
}
