@import 'config.css';

.LoginOrRegister {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-y: hidden;

}

.LoginOrRegister .logoTop {
  display: none;
}

.LoginOrRegister .decorator {
  width: 50vw;
  margin-right: 3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.LoginOrRegister .image {
  position: fixed;
  top: 2rem;
  bottom: 2rem;
  overflow: hidden;
  margin-left: 3rem;
}

.LoginOrRegister .image::before {
  position: absolute;
  content: '';
  background-color: rgba(89, 53, 104, 0.527);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.LoginOrRegister .image .logo {
  position: absolute;
  top: 5rem;
  left: 35%;
}

.LoginOrRegister img {
  height: 100%;
  width: 130%;
  max-width: 33rem;
  object-fit: cover;
  flex: 1;
}

.LoginOrRegister .decorator::before {
  content: '';
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: var(--main-color);
}

.LoginOrRegister .OwnerRegister,
.LoginOrRegister .RenterRegister,
.LoginOrRegister .Login {
  flex: 1;
}
.LoginOrRegister .row {
  width: 50vw;
  margin-bottom: 2rem;
}

.LoginOrRegister label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-family: var(--second-font-family);
}

.LoginOrRegister input {
  width: 90%;
  max-width: 35rem;
  height: 1.5rem;
  outline: none;
  font-size: 1.1rem;
  font-family: var(--second-font-family);
  border: none;
  border-bottom: 1px solid #cfcfcf;
  font-family: var(--second-font-family);
}

.LoginOrRegister button {
  width: 10rem;
  height: 3rem;
  background-color: var(--main-color);
  border: none;
  color: white;
  font-family: var(--second-font-family);
  font-size: 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.LoginOrRegister button:hover {
  background-color: #a772e7;
}

.LoginOrRegister span {
  font-family: var(--second-font-family);
  margin-left: 3rem;
  font-size: 1.2rem;
}

.LoginOrRegister span a {
  text-decoration: underline;
  font-family: var(--second-font-family);
  color: #6c29be;
}

.LoginOrRegister .chooseTypeAccount h3,
.LoginOrRegister .chooseTypeAccount a {
  font-family: var(--second-font-family);
}

.LoginOrRegister .chooseTypeAccount h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.LoginOrRegister .chooseTypeAccount a {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  display: block;
  text-decoration: underline;
  color: #9a47ff;
}

.LoginOrRegister .chooseTypeAccount a .fas {
  color: #b881fc91;
  font-size: 1.8rem;
  padding-right: 1rem;
}

.LoginOrRegister .chooseTypeAccount a:hover {
  color: #52238b;
}

@media (max-width: 700px) {
  .LoginOrRegister {
    display: block;
  }

  .LoginOrRegister .logoTop {
    display: block;
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 1rem;
    left: 45%;
  }
  .LoginOrRegister .logoTop::after {
    content: '';
    width: 100vw;
    height: 5rem;
    background-color: #6c4b97;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .LoginOrRegister .decorator {
    display: none;
  }
  .LoginOrRegister .OwnerRegister,
  .LoginOrRegister .RenterRegister,
  .LoginOrRegister .Login,
  .LoginOrRegister .chooseTypeAccount {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    flex: 1;
  }

  .LoginOrRegister .chooseTypeAccount {
    flex-direction: column;
    align-items: center;
  }

  .LoginOrRegister input,
  .LoginOrRegister .row {
    width: 80vw;
    max-width: unset;
  }
}

.LoginOrRegister .message{
  color: red;
  font-size: 0.9rem;
}

@media (max-width: 850px) {
  .LoginOrRegister .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .LoginOrRegister span {
    margin: 0;
    margin-top: 1.5rem;
  }
}
