@import 'config.css';

.RentalUnit {
  display: inline-block;
  width: var(--rental-unit-width);
  height: var(--rental-unit-height);
  margin: 1rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.RentalUnit .image {
  position: relative;
}

.RentalUnit .image::before {
  content: '';
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.9026961126247374) 0%,
    rgba(26, 26, 40, 0.692612079011292) 24%,
    rgba(255, 255, 255, 0) 88%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.RentalUnit .image,
.RentalUnit img {
  width: 100%;
  height: var(--rental-unit-image-height);
  overflow: hidden;
}

.RentalUnit img {
  object-fit: cover;
}

.RentalUnit .cost {
  font-family: var(--second-font-family);
  font-size: 1.6rem;
  font-weight: bold;
  position: absolute;
  bottom: 1.5rem;
  padding-left: 1rem;
  color: white;
}

.RentalUnit .small {
  display: inline;
  font-size: 1rem;
  font-weight: lighter;
}

.RentalUnit .description {
  padding: 1rem;
  height: var(--rental-unit-description-height);
  position: relative;
}

.RentalUnit .title {
  height: var(--rental-unit-title-height);
  font-size: 1.5rem;
  font-weight: bold;
  color: #494949;
  transition: 0.3s;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.RentalUnit:hover .title {
  color: var(--main-color);
}

.RentalUnit .address {
  margin: 0.6rem 0rem;
  height: var(--rental-unit-address-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.RentalUnit .additionInfo {
  height: var(--rental-unit-addition-info-height);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.RentalUnit .fa-map-marker-alt,
.RentalUnit .fa-home,
.RentalUnit .fa-file-invoice {
  width: 1.8rem;
  color: #b881fcb2;
}

.RentalUnit .comment {
  position: absolute;
  color: #666666;
  font-style: italic;
  bottom: 1rem;
}

.RentalUnit .heart {
  position: relative;
  left: 20rem;
  bottom: 3.5rem;
}

@media (max-width: 692px) {
  .RentalUnit {
    width: 32rem;
  }
}
