.SearchBar{
  position: relative;
  top: -10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.SearchBar input,
#cost,
#area,
.SearchBar button {
  padding: 0.8rem;
  padding-left: 1.5rem;
  margin-right: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #d1d1d1;
  font-family: 'Roboto Condensed', sans-serif;
}

.SearchBar input {
  width: 15rem;
}

.SearchBar button {
  width: 8rem;
  padding-left: 0;
  margin-right: 0;
  background-color: #b881fc;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.SearchBar button:hover{
    background-color: #8d62c2;
}

.SearchBar option {
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 900px) {
    .SearchBar input,
    #cost,
    #area,
    .SearchBar button{
    display: block;
    width: 90vw;
    margin: auto 0;
    margin-bottom: 1rem;
  }
  .SearchBar input{
    box-sizing: border-box;
  }

  .SearchBar {
    flex-direction: column;
    top: 2rem;
  }
}

@media (max-width: 940px){
  .SearchBar button{
    margin: 0.8rem auto;
    display: block;
  }
}

@media (max-width: 900px){
  .SearchBar button{
    margin-bottom: 4rem;
  }
}
