@import 'config.css';

.SearchBar {
  position: absolute;
  bottom: 12rem;
  flex-wrap: wrap;
  width: calc(100vw -6rem);
  margin: auto 3rem;
  text-align: center;
  background-color: rgba(148, 148, 148, 0.5);
  padding: 0.5rem;
}

.SearchBar input,
#cost,
#area,
#type,
.SearchBar button {
  padding: 0.8rem;
  padding-left: 1.5rem;
  margin-right: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #d1d1d1;
  font-family: var(--second-font-family);
  margin-bottom: 0.5rem;
}

.SearchBar input {
  width: 15rem;
}

.SearchBar button {
  width: 8rem;
  padding-left: 0;
  margin-right: 0;
  background-color: var(--main-color);
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.SearchBar button:hover {
  background-color: #8d62c2;
}

.SearchBar option {
  font-family: var(--second-font-family);
}

@media (max-width: 900px) {
  .SearchBar input,
  #cost,
  #area,
  #type,
  .SearchBar button {
    display: block;
    width: 90vw;
    margin: auto 0;
    margin-bottom: 1rem;
  }
  .SearchBar input {
    box-sizing: border-box;
  }

  .SearchBar {
    flex-direction: column;
    top: 2rem;
    position: relative;
    background-color: transparent;
  }
}

@media (max-width: 940px) {
  .SearchBar button {
    margin: auto;
    display: block;
  }
}
